.tab-panel-category {
  .content {
    height:  100%;
    .category-tab {
      max-height: 100%;
      min-width: 600px;
      .content {
        padding: 0;
        & > .heading {
          padding: 1rem 2rem;
          background-color: $primary-dark;
          color: $on-primary-dark;
          .MuiTypography-subtitle1 {
            font-weight: 550;
          }
        }
        & > .actions {
          display: flex;
          justify-content: space-between;
          padding: 1rem;
          .search {
            display: flex;
          }
        }
        .table-container {
          max-height: calc(100vh - 268px);
          overflow: overlay;
        }
        .thumbnail {
          --size: 46px;
          width: var(--size);
          height: var(--size);
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}

.category-modal {
  & > div {
    width: 360px;
  }
  .content {
    .row {
      display: flex;
      padding: 1rem 2rem;
      .label {
        width: 120px;
      }
      .input {
        flex: 1;
      }
      .MuiFormControl-root {
        min-width: 160px;
      }
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}
