.dashboard {
  height: 100%;
  flex-grow: 1;
  .container {
    height: calc(100% - 70px);
    position: relative;
    & > .left {
      position: fixed;
      height: 100%;
      z-index: 3;
      box-shadow: 1px 0 12px 0px #bebebe;
      overflow: overlay;
      background-color: #fff;
      button {
        .MuiTab-wrapper {
          flex-direction: row;
          justify-content: flex-start;
        }
      }
    }
    & > .right {
      position: absolute;
      height: 100%;
      padding-left: 200px;
      .tab-panel {
        height: 100%;
        padding: 2rem;
      }
    }
  }
  .tabs {
    height: 100%;
    .MuiTabs-scroller {
      padding-bottom: 4rem;
    }
    .heading {
      padding: 0 12px;
      .MuiTypography-subtitle1 {
        font-weight: 550;
      }
    }
    .sub-item {
      padding: 0 36px;
    }
  }

  @import 'product.scss';
  @import 'category.scss';
  @import 'tax.scss';
  @import 'sale.scss';
  @import 'inventory.scss';
  @import 'user.scss';
}
