.sale-tab {
  .row { 
    display: flex;
    .top-selling {
      margin-left: 2rem;
    }
  }
}

.inventory-summary {
  .heading {
    padding: 0.5rem 1.5rem;
    background-color: $primary-dark;
    color: $on-primary-dark;
    h6 {
      font-weight: 600;
    }
  }
  .content {
    padding: 0.5rem 0;
    .row {
      display: flex;
      padding: 0.5rem 1.5rem;
      .label {
        width: 240px;
      }
    }
  }
}

.top-selling {
  .content {
    display: flex;
    min-width: 420px;
    .card {
      padding: 0.5rem 1rem;
      min-width: 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .media {
        width: 120px;
        height: 120px;
        background-size: cover;
        background-position: center;
      }
      .name {
        padding-top: 0.5rem;
      }
    }

  }
}