.product-tab {
  & > .heading {
    padding: 1rem 2rem;
    background-color: $primary-dark;
    color: $on-primary-dark;
    .MuiTypography-subtitle1 {
      font-weight: 550;
    }
  }
  & > .actions {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .search {
      display: flex;
    }
    .Button-root-24 {
      padding: 0;
    }
    .MuiButton-text {
      padding: 6px 8px !important;
    }
  }
  .table {
    .thumbnail {
      width: 64px;
      height: 64px;
      background-size: contain;
    }
    .price-item {
      display: flex;
      .separator {
        padding: 0 0.5rem;
      }
    }
    .actions {
      display: flex;
    }
  }
}

.product-modal {
  & > div {
    min-width: 640px;
  }
  .content {
    .row {
      display: flex;
      padding: 1rem 2rem;
      .label {
        width: 120px;
      }
      .MuiFormControl-root {
        min-width: 160px;
      }
      .price {
        display: flex;
        .price-row {
          & > div {
            width: 394px;
            padding-bottom: 1rem;
            & > div {
              margin-right: 1rem;
            }
          }
        }
        .add {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}