.product-tab {
  min-width: 960px;
  .content {
    height: 100%;
  }
  .table-container {
    max-height: calc(100vh - 260px);
    overflow: overlay;
  }
  & > .heading {
    padding: 1rem 2rem;
    background-color: $primary-dark;
    color: $on-primary-dark;
    .MuiTypography-subtitle1 {
      font-weight: 550;
    }
  }
  & > .actions {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .search {
      display: flex;
    }
  }
  .table {
    .thumbnail {
      width: 64px;
      height: 64px;
      background-size: contain;
    }
    .price-item {
      display: flex;
      .separator {
        padding: 0 0.5rem;
      }
    }
    .actions {
      display: flex;
    }
  }
}

.product-modal {
  & > div {
    min-width: 640px;
  }
  .content {
    .row {
      display: flex;
      padding: 1rem 2rem;
      .label {
        width: 120px;
      }
      .MuiFormControl-root {
        min-width: 160px;
      }
      .price {
        display: flex;
        .price-row {
          & > div {
            width: 394px;
            padding-bottom: 1rem;
            & > div {
              margin-right: 1rem;
            }
          }
        }
        .add {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}

.restock-modal {
  .content {
    min-width: 420px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    .top {
      display: flex;
      & > div {
        flex: 1;
        min-width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 1rem;
        .value {
          font-size: 5rem;
        }
      }
      svg {
        font-size: 3.5rem;
        margin-top: 1.5rem;
      }
      .icon {
        flex: unset;
      }
      .right {
        .value {
          color: rgba(0,0,0,0.5);
        }
      }
    }
    .bottom {
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      & > div {
        width: 64px;
        margin: 0 1rem;
        input {
          font-size: 2rem;
        }
      }
    }
  }
  .actions {
    padding: 2rem 1rem;
    display: flex;
    justify-content: flex-end;
  }
}
