.sale-tab {
  & > div {
    &:nth-of-type(1) {
      width: 400px;
      margin-bottom: 2rem;
    }
  }
  .revenue-pan {
    .heading {
      padding: 0.5rem 1rem;
    }
    .content {
      display: flex;
      .col {
        display: flex;
        flex-direction: column;
        .label {
          width: 160px;
          padding: 0.5rem 1rem;
        }
        .value {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
  .table {
    .header {
      background-color: $primary-dark;
      h6 {
        color: $on-primary-dark;
        font-weight: 550;
      }
    }
    .actions {
      display: flex;
    }
    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: rgba(0, 0, 0, 0.04);
        }
      } 
    }
  }
}