.tab-panel-report--sale {
  height: 100%;
  .report-sale-tab {
    height: 100%;
    .filters {
      width: fit-content;
      height: fit-content;
      .custom-date {
        padding: 1rem;
        & > div {
          margin-right: 2rem;
        }
      }
    }
    & > .content {
      display: flex;
      padding-top: 2rem;
      .orders {
        min-width: 527px;
        overflow: overlay;
        margin-right: 2rem;
        height: fit-content;
        max-height: 100%;
      }
      .status {
        height: fit-content;
      }
    }
    .report-sale-summary {
      height: fit-content;
      min-width: 320px;
      .content {
        display: flex;
        .col {
          display: flex;
          flex-direction: column;
          flex: 1;
          padding-top: 0.5rem;
          .label {
            width: 160px;
            padding: 0 1rem;
            padding-bottom: 0.5rem;
          }
          .value {
            padding: 0 1rem;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 0.5rem;
          }
          &:nth-of-type(2) {
            h6 {
              text-align: right;
            }
          }
        }
      }
    }
    .report-sale-by-staff {
      width: 100%;
      margin-top: 2rem;
    }
    .table {
      .header {
        h6 {
          color: $on-primary-dark;
          font-weight: 550;
        }
        .MuiTableCell-stickyHeader {
          background: $primary-dark;
        }
      }
      .actions {
        display: flex;
      }
      tbody {
        tr {
          &:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.04);
          }
        } 
      }
    }
  }
}

.order-view-modal {
  --modal-w: 420px;
  
  .content {
    width: var(--modal-w);
    min-height: 380px;
    max-height: 50vh;
    overflow: overlay;
    display: flex;
    flex-direction: column;
    .summary {
      padding: 1rem 0;
      margin-bottom: 1rem;
      box-shadow: 0 1px 10px 1px rgba(100,100,100, 0.8);
      width: var(--modal-w);
      background-color: #fff;
      .row {
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        .label {
          width: 160px;
        }
      }
    }
    .items {
      display: flex;
      overflow: auto;
      flex-direction: column;
      .odr-row {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
        padding-bottom: 0.5rem;
        .title {
          display: flex;
          justify-content: space-between;
          h6 {
            font-size: 1rem;
          }
        }
        .subtitle {
          padding: 0 0.5rem;
          margin-top: -6px;
          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    height: 86px;
    padding: 1rem;
    button {
      height: 100%;
    }
  }
}
