.tab-panel-user--users {
  .staff {
    max-height: 100%;
    .content {
      padding: 0;
      height: 100%;
      max-height: calc(100vh - 198px);
      overflow: overlay;
      position: relative;
      .actions {
        position: absolute;
        width: 100%;
        justify-content: space-between;
        height: 5rem;
        align-items: center;
        button {
          height: fit-content;
        }
      }
      .table-container {
        padding-top: 5rem;
        width: 940px;
      }
    }
  }
}


.staff-modal {
  .row {
    display: flex;
    padding: 1rem 1.5rem;
    .label {
      width: 150px;
    }
  }
}