.tax-tab {
  .content {
    min-width: 320px;
    .input {
      max-width: 64px;
    }
  }
  .row {
    padding: 1rem 2rem;
    &:nth-of-type(2) {
      padding-top: 0;
    }
    display: flex;
    .label {
      width: 80px !important;
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 1rem;
    }
  }
}