.card-base {
  width: fit-content;
  .header {
    padding: 0.5rem 1.5rem;
    background-color: #1e1e1f;
    color: #ffffff;
    h6 {
      font-weight: 600;
    }
  }
  .content {
    padding: 0.5rem 0;
    .row {
      display: flex;
      padding: 0.5rem 1.5rem;
      .label {
        width: 240px;
      }
    }
  }
}