.categories-list { 
  width: 60px;
  min-width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: overlay;
  padding: 0.5rem 0;
  z-index: 1;
  .category-item {
    display: flex;
    margin: 0rem 0.1rem;
    .label {
      flex: 1;
      padding: 0.5rem 0.2rem;
    }
    .indicator {
      width: 3px;
      height: 100%;
    }
    .selected {
      background-color: $secondary-dark;
    }
  }
  .icon {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
    svg {
      font-size: 2rem;
    }
  }
}