.products {
  padding-left: 1rem;
  .search {
    & > div {
      width: 300px;
    }
  }
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem 0;
    .card-button {
      & > div {
        width: 100%;
        height: 100%;
      }
      .card {
        .media {
          width: 100%;
          height: 160px;
        }
      }
    }
  }
}
