.products {
  height: 100%;
  flex: 1;
  padding: 2rem 4rem;
  .container {
    height: 100%;
    --search-h: 42px;
    .search {
      height: var(--search-h);
      display: flex;
      & > div {
        width: 300px;
      }
    }
    .list-container {
      height: calc(100% - var(--search-h));
      .list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 165px);
        gap: 1rem;
        padding: 2rem 0;
        .card-button {
          & > div {
            width: 100%;
            height: 100%;
          }
          .card {
            .media {
              width: 100%;
              height: 135px;
            }
            h6 {
              padding: 0.5rem 0;
            }
          }
        }
      }
    }
  }
}


.product-modal {
  & > div {
    width: 360px;
  }
  .content {
    .row {
      display: flex;
      padding: 1rem 2rem;
      .label {
        width: 120px;
      }
      .MuiFormControl-root {
        min-width: 100px;
      }
    }
    .count {
      .action {
        display: flex;
        align-items: center;
        h6 {
          padding: 0 0.5rem;
        }
      }
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}