.receipt {
  .receipt-count {
    display: flex;
    align-items: center;
  }
  .no-product {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .MuiTableCell-root {
    padding: 12px;
  }
}
.table {
  .header {
    background-color: $primary-dark;
    h3 {
      color: $on-primary-dark;
      font-weight: 550;
    }
  }
  .span-2 {
    border: none;
  }
}
