#root {
  height: 100vh;
  & > div {
    height: 100%;
  }
  .app-bar-action {
    &:hover {
      cursor: pointer !important;
    }
  }
}

@import 'modal.scss';
@import 'colors.scss';
@import './sale/sale.scss';
@import './dashboard/dashboard.scss';