#root {
  height: 100vh;
  .dash-separator {
    padding: 0 0.5rem;
  }
  .app-bar-action {
    &:hover {
      cursor: pointer !important;
    }
  }
  .hidden {
    display: none;
  }
}
.react-toast-notifications__container {
  top: 76px !important;
}

footer {
  .MuiContainer-maxWidthLg {
    flex-direction: column;
    .icons {
      .social-media {
        svg {
          font-size: 2rem;
          fill: var(--on-primary);
        }
      }
    }
  }
}

@import 'modal.scss';
@import 'loading.scss';
@import 'colors.scss';
@import 'printable.scss';
@import './sale/sale.scss';
@import './dashboard/dashboard.scss';