
.carpet {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
    max-height: 75vh;
    overflow: overlay;
    .heading {
      background-color: #1e1e1f;
      color: #ffffff;
      padding: 1rem;
      border-radius: 4px 4px 0 0;
      position: sticky;
      top: 0;
      z-index: 1;
    }
    & > .actions {
      padding: 1rem;
      display: flex;
      justify-content: flex-end;
      & > button {
        margin-left: 1rem;
      }
    }
  }
}
#menu- {
  z-index: 10000 !important;
}
